<!--
  ~ Copyright 2022.
  -->

<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="favicon" href="{{ '/assets/img/favicon.ico' }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>

<div id="header">
    <nav>
        <ul>
            <li class="fork"><img src="/assets/img/logo1.png" height="53" width="44"
                                  alt="Umbra Aeterna Labs Logo"></li>
            {% if page.title != 'Umbra Aeterna Labs' %}
            <li class="fork"><a href="/index">Home</a></li>
            {% endif %}

            {% if page.title != 'Other Apps' %}
            <li class="fork"><a href="/links">Other Apps</a></li>
            {% endif %}

            {% if page.title != 'Contact' %}
            <li class="fork"><a href="/contact">Contact</a></li>
            {% endif %}

            <li class="fork"><a href="{{ site.github.owner_url }}">GitHub</a></li>

            <li class="fork"><img src="/assets/img/logo1.png" height="53" width="44"
                                  alt="Umbra Aeterna Labs Logo"></li>
        </ul>
    </nav>
</div><!-- end header -->

<div class="wrapper">
    <section>
        <div id="title">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <hr>
            <span class="credits right">Hosted on GitHub Pages &mdash; Original theme 'Midnight' by
                <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

    </section>
</div>

{% if site.google_analytics %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>

{% endif %}

<div id="footer">
    <div class="wrapper inner-footer">
        <br>
        <h2 class="copyright">Disclaimer</h2>
        <p class="center">Umbra Aeterna Labs ("UAL") is not a subsidiary of, or in any way
            affiliated with, Elder Games LLC ("Elder Games"), owner of the aforementioned game Project: Gorgon.
            UAL purely fan-based development and respect all licenses, copyrights, restrictions,
            user agreements, and other legally-binding restrictions implemented by Elder Games.
            Questions/concerns may be submitted via <a href="mailto:umbra.aeterna.labs@gmail.com">email</a>.
            Thank you!</p>
        <p class="copyright">Copyright 2022 Umbra Aeterna Labs</p>
        <br>
    </div>
</div>
</body>
</html>
